form {
    background-color: aqua;
    text-align: center;
}
h1{
    text-align: center;
}
div{
    padding: 20px;
}
#btnAñadir{
    font-size: medium;
    color: rgb(47, 8, 119);
    border-radius: 15%;
    padding: 10px;
}
.cat{
    background-color: blue;
}

/* === TABLA === */

.content-tabla{
    background-color: palevioletred;
}
#tabla1 {
        margin: 0 auto;
}
tr{
    background-color: orange;
}
th{
    border: solid 5px red;
}
td{
    border: solid 1px red;
}

th,td{
    padding: 10px;
    text-align: center;
}
